.knopki1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.knopki2:hover {
    transition: 1s;
    transform: scale(1.1);
}
.iml1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.logo1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.logo2:hover {
    transition: 1s;
    transform: scale(1.1);
}
.logo3:hover {
    transition: 1s;
    transform: scale(1.1);
}
.pervlist:hover {
    box-shadow: inset 0 0 0 23px #ff0000;
    height: 483px;
}
.vtorlist:hover {
    box-shadow: inset 0 0 0 23px #ff0000;
    height: 483px;
}
.tretlist:hover {
    box-shadow: inset 0 0 0 23px #ff0000;
    height: 483px;
}
.pervkn1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.pervkn2:hover {
    transition: 1s;
    transform: scale(1.1);
}
.pervd:hover {
    transition: 1s;
    transform: scale(1.1);
}
.vtord:hover {
    transition: 1s;
    transform: scale(1.1);
}
.tretd:hover {
    transition: 1s;
    transform: scale(1.1);
}
.chetd:hover {
    transition: 1s;
    transform: scale(1.1);
}
.pyatd:hover {
    transition: 1s;
    transform: scale(1.1);
}
.cl1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.list1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.cl2:hover {
    transition: 1s;
    transform: scale(1.1);
}
.cl3:hover {
    transition: 1s;
    transform: scale(1.1);
}
.knpka1:hover {
    transition: 1s;
    transform: scale(1.1);
}
.knpka2:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text64:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text65:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text66:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text70:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text71:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text72:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text73:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text74:hover {
    transition: 1s;
    transform: scale(1.1);
}
.text75:hover {
    transition: 1s;
    transform: scale(1.1);
}