body {
    font-family:"Roboto";
    width: 1100px;
    height: 8500px;
}
.shapka {
    position: absolute;
    left: 800px;
    top: 20px;
    word-spacing: 50px;
}
.book {
    left: 410px;
    position: absolute;
    word-spacing: normal;
    white-space: nowrap;
}
.logo {
    position: absolute;
    top: 15px;
    left: 100px;
}
.im1 {
    position: relative;
    left: 90px;
}
a {
    color: black;
    text-decoration: none;
}